/*/bin
/com.yoursway.ide.ui.projectview.tests
/org*
/.metadata
/External Plug-in Libraries
/dltk-upstream
.DS_Store
com.esko.dtl.core/src/com/esko/dtl/core/parser/__Test___input.txt
*.o
*.lib
/*/build
fourdman*
dtl_ide_final_demo.swf
Debug/*
*.suo
dbgbltin.suo
*.ncb
*fourdman*
/injlib/*/Debug
*.suo
*.ncb
/attachwin/Debug
/attachwin/injlib.pdb
/attachwin/injlib.dll
*.vcproj.*
/dbgbltin/Debug
/attachlib/Debug
sandbox
